absl-py
astunparse
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Cors
flatbuffers
gast
google-pasta
grpcio
h5py
idna
imutils
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opencv-python
opt-einsum
optree
packaging
Pillow
protobuf
Pygments
requests
rich
scikit-learn
scipy
setuptools
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
typing-extensions
urllib3
Werkzeug
wheel
wrapt
